@use './styles/colors' as *;

.appContentWrapper {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.todoListContainer {
    display: flex;
    justify-content: center;
    background-color: $white;
    border: 1px solid $gray-border;
    padding: 1.5rem;
    border-radius: 4px;
    width: 100%;
    box-shadow: $shadow-light;
}