@use '../../styles/colors' as *;

.todoItem {
    border: 1px solid $gray-border;
    border-radius: 4px;
    background-color: $white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: $shadow-softer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: $gray-hover;
    }
}

.todoItemDone {
    @extend .todoItem;
    background-color: $gray-hover;
    color: $gray-text;
}

.todoItemContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.todoItemContentElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.additionalInformationContainer {
    background-color: $background-2;
    border: 1px solid $gray-border;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: $shadow-light;

    p {
        margin: .5rem 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
    p:first-child {
        margin-top: 0;
    }
}

.todoItemGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.title {
    font-size: large;
    font-weight: bold;
    white-space: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    width: 10rem;
}

.titleTaskDone {
    @extend .title;
    text-decoration: line-through;
    background-color: $gray-hover;
    color: $gray-text;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: .8rem;

    button {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 4px;
        padding: 1rem;
    }

}

.editButton {
    @extend button;
    background-image: url('../../assets/images/edit-icon.svg');
    &:hover {
        background-color: $dark-gray-hover;
    }
}

.deleteButton {
    @extend button;
    background-image: url('../../assets/images/delete-icon.svg');
    &:hover {
        background-color: $red-hover;
    }
}

.iconButton {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    padding: 1rem;

    &:hover {
        background-color: $dark-gray-hover;
    }
}

.uncheckButton {
    @extend .iconButton;
    background-image: url('../../assets/images/unchecked-icon.svg');
}

.checkedButton {
    @extend .iconButton;
    background-image: url('../../assets/images/checked-icon.svg');
}

.dropdownButtonDown {
    @extend .iconButton;
    background-image: url('../../assets/images/down-arrow-icon.svg');
    margin-right: 1rem;
}

.dropdownButtonUp {
    @extend .iconButton;
    background-image: url('../../assets/images/up-arrow-icon.svg');
    margin-right: 1rem;
}