$black: black;
$white: white;
$gray-border: #E0DEDE;
$gray-hover: #F2F2F2;
$dark-gray-hover: #E9E9EA;
$gray-text: #808b96;

$text-color: #333;
$background-main: #f2f2f3;
$background-2: #f9f9f9;

$primary-red: #D2042D;
$red-hover: #EE4B2B;
$blue: #007bff;

$primary-green: #157F3D;
$light-green: #189445;

$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-softer: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-diffused: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-modal: 0 5px 15px rgba(0, 0, 0, 0.3);